@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import 'tailwindcss';

@theme {
  --font-bai: 'Bai Jamjuree', 'serif';

  --color-primary: hsl(171, 66%, 44%);
  --color-secondary: hsl(233, 100%, 69%);
  --color-tertiary: hsl(210, 10%, 33%);
  --color-accent: hsl(201, 11%, 66%);
}

.section-container {
  @apply max-w-7xl mx-auto px-4 py-10 text-center;
}

h1,
h2 {
  @apply lg:text-5xl md:text-4xl sm:text-3xl text-2xl text-tertiary font-semibold mb-5;
}

h3 {
  @apply lg:text-3xl md:text-2xl sm:text-xl text-lg mb-3 text-tertiary font-medium;
}

p {
  @apply text-accent mb-5;
}

p,
button {
  @apply lg:text-xl md:text-lg sm:text-base text-sm;
}

button {
  @apply font-medium py-4 px-10 duration-300 cursor-pointer rounded-full shadow-xl hover:opacity-85;
}

#hero {
  background: url('./images/bg-header-desktop.png');
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 768px) {
  #hero {
    background: url('./images/bg-header-mobile.png');
    background-repeat: no-repeat;
    background-size: cover;
  }
}
